In [24]:
import pandas as pd
import numpy as np
import glob
import category_encoders as ce
from pydantic import BaseModel
from pandas import DataFrame
# Import the pandas library

# Define the file paths for the datasets
# Get the file paths for all CSV files in the current folder
file_paths = glob.glob('*.csv')

datasets: list[DataFrame] = []
for file_path in file_paths:
    datasets.append(pd.read_csv(file_path))

In [25]:
### categorical features with more than 7 unique values will be encode with binary encoding
dataset_one_hot_encoded : list[list[str]] = [[] for i in range(len(datasets))]
dataset_binary_encoded: list[list[str]]   = [[] for i in range(len(datasets))]

In [26]:
## check some information about the dataset
## check if there is any null value
## check the unique counts of each feature in each dataset

for (index,dataset) in enumerate(datasets):
    ### replace ' ' with np.nan and drop examples with na values
    dataset=dataset.replace({' ': np.nan})
    dataset=dataset.replace({'': np.nan})
    dataset=dataset.dropna()
    
    
    print("\n\n")
    print("The unique counts of each feature in this dataset are:")
    print("\n")    
    for column in dataset.columns:
        ### print information about the column
        print(column, dataset[column].dtype, dataset[column].nunique())
        ### cast the column to float if possible ( columns with ' ' has dtype object but now the na are removed we can cast it back to float)
        try:
            dataset[column] = dataset[column].astype(float)
        except ValueError:
            pass
        ### check if the column is categorical and if it has more than 7 unique values pass it to binary encoding, else to one hot encoding    
        if dataset[column].dtype=='object':
            if dataset[column].nunique() > 7:
                dataset_binary_encoded[index].append(column)
            else:
                dataset_one_hot_encoded[index].append(column)
    print("\n\n")
    
    datasets[index] = dataset

The unique counts of each feature in this dataset are:


state object 51
account_length int64 215
area_code object 3
international_plan object 2
voice_mail_plan object 2
number_vmail_messages int64 46
total_day_minutes float64 1843
total_day_calls int64 120
total_day_charge float64 1843
total_eve_minutes float64 1773
total_eve_calls int64 123
total_eve_charge float64 1572
total_night_minutes float64 1757
total_night_calls int64 128
total_night_charge float64 992
total_intl_minutes float64 168
total_intl_calls int64 21
total_intl_charge float64 168
number_customer_service_calls int64 10
churn object 2






The unique counts of each feature in this dataset are:


CustomerID object 1869
Count int64 1
Country object 1
State object 1
City object 833
Zip Code int64 1190
Lat Long object 1190
Latitude float64 1190
Longitude float64 1190
Gender object 2
Senior Citizen object 2
Partner object 2
Dependents object 2
Tenure Months int64 72
Phone Service object 2
Multiple Lines object 3
Internet Service object 3
Online Security object 3
Online Backup object 3
Device Protection object 3
Tech Support object 3
Streaming TV object 3
Streaming Movies object 3
Contract object 3
Paperless Billing object 2
Payment Method object 4
Monthly Charges float64 910
Total Charges object 1732
Churn Label object 1
Churn Value int64 1
Churn Score int64 36
CLTV int64 1487
Churn Reason object 20






The unique counts of each feature in this dataset are:


Churn int64 2
AccountWeeks int64 212
ContractRenewal int64 2
DataPlan int64 2
DataUsage float64 174
CustServCalls int64 10
DayMins float64 1667
DayCalls int64 119
MonthlyCharge float64 627
OverageFee float64 1024
RoamMins float64 162






The unique counts of each feature in this dataset are:


customerID object 7032
gender object 2
SeniorCitizen int64 2
Partner object 2
Dependents object 2
tenure int64 72
PhoneService object 2
MultipleLines object 3
InternetService object 3
OnlineSecurity object 3
OnlineBackup object 3
DeviceProtection object 3
TechSupport object 3
StreamingTV object 3
StreamingMovies object 3
Contract object 3
PaperlessBilling object 2
PaymentMethod object 4
MonthlyCharges float64 1584
TotalCharges object 6530
Churn object 2






The unique counts of each feature in this dataset are:


Age float64 48
Gender object 2
Tenure float64 60
Usage Frequency float64 30
Support Calls float64 11
Payment Delay float64 31
Subscription Type object 3
Contract Length object 3
Total Spend float64 68363
Last Interaction float64 30
Churn float64 2






The unique counts of each feature in this dataset are:


RowNumber int64 10000
CustomerId int64 10000
Surname object 2932
CreditScore int64 460
Geography object 3
Gender object 2
Age int64 70
Tenure int64 11
Balance float64 6382
NumOfProducts int64 4
HasCrCard int64 2
IsActiveMember int64 2
EstimatedSalary float64 9999
Exited int64 2

In [27]:
for dataset in datasets:
    print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          4250 non-null   object
 1   account_length                 4250 non-null   float64
 2   area_code                      4250 non-null   object
 3   international_plan             4250 non-null   object
 4   voice_mail_plan                4250 non-null   object
 5   number_vmail_messages          4250 non-null   float64
 6   total_day_minutes              4250 non-null   float64
 7   total_day_calls                4250 non-null   float64
 8   total_day_charge               4250 non-null   float64
 9   total_eve_minutes              4250 non-null   float64
 10  total_eve_calls                4250 non-null   float64
 11  total_eve_charge               4250 non-null   float64
 12  total_night_minutes            4250 non-null   float64
 13  total_night_calls              4250 non-null   float64
 14  total_night_charge             4250 non-null   float64
 15  total_intl_minutes             4250 non-null   float64
 16  total_intl_calls               4250 non-null   float64
 17  total_intl_charge              4250 non-null   float64
 18  number_customer_service_calls  4250 non-null   float64
 19  churn                          4250 non-null   object
dtypes: float64(15), object(5)
memory usage: 664.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 1869 entries, 0 to 1868
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         1869 non-null   object
 1   Count              1869 non-null   float64
 2   Country            1869 non-null   object
 3   State              1869 non-null   object
 4   City               1869 non-null   object
 5   Zip Code           1869 non-null   float64
 6   Lat Long           1869 non-null   object
 7   Latitude           1869 non-null   float64
 8   Longitude          1869 non-null   float64
 9   Gender             1869 non-null   object
 10  Senior Citizen     1869 non-null   object
 11  Partner            1869 non-null   object
 12  Dependents         1869 non-null   object
 13  Tenure Months      1869 non-null   float64
 14  Phone Service      1869 non-null   object
 15  Multiple Lines     1869 non-null   object
 16  Internet Service   1869 non-null   object
 17  Online Security    1869 non-null   object
 18  Online Backup      1869 non-null   object
 19  Device Protection  1869 non-null   object
 20  Tech Support       1869 non-null   object
 21  Streaming TV       1869 non-null   object
 22  Streaming Movies   1869 non-null   object
 23  Contract           1869 non-null   object
 24  Paperless Billing  1869 non-null   object
 25  Payment Method     1869 non-null   object
 26  Monthly Charges    1869 non-null   float64
 27  Total Charges      1869 non-null   float64
 28  Churn Label        1869 non-null   object
 29  Churn Value        1869 non-null   float64
 30  Churn Score        1869 non-null   float64
 31  CLTV               1869 non-null   float64
 32  Churn Reason       1869 non-null   object
dtypes: float64(10), object(23)
memory usage: 496.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Churn            3333 non-null   float64
 1   AccountWeeks     3333 non-null   float64
 2   ContractRenewal  3333 non-null   float64
 3   DataPlan         3333 non-null   float64
 4   DataUsage        3333 non-null   float64
 5   CustServCalls    3333 non-null   float64
 6   DayMins          3333 non-null   float64
 7   DayCalls         3333 non-null   float64
 8   MonthlyCharge    3333 non-null   float64
 9   OverageFee       3333 non-null   float64
 10  RoamMins         3333 non-null   float64
dtypes: float64(11)
memory usage: 286.6 KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   float64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   float64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(4), object(17)
memory usage: 1.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 505206 entries, 0 to 505206
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Age                505206 non-null  float64
 1   Gender             505206 non-null  object
 2   Tenure             505206 non-null  float64
 3   Usage Frequency    505206 non-null  float64
 4   Support Calls      505206 non-null  float64
 5   Payment Delay      505206 non-null  float64
 6   Subscription Type  505206 non-null  object
 7   Contract Length    505206 non-null  object
 8   Total Spend        505206 non-null  float64
 9   Last Interaction   505206 non-null  float64
 10  Churn              505206 non-null  float64
dtypes: float64(8), object(3)
memory usage: 46.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  float64
 1   CustomerId       10000 non-null  float64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  float64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  float64
 10  HasCrCard        10000 non-null  float64
 11  IsActiveMember   10000 non-null  float64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  float64
dtypes: float64(11), object(3)
memory usage: 1.1+ MB
None

In [30]:
from category_encoders import OneHotEncoder, BinaryEncoder

for (index, dataset) in enumerate(datasets):
    for one_hot_column in dataset_one_hot_encoded[index]:
        encoder = OneHotEncoder(cols=[one_hot_column])
        dataset = encoder.fit_transform(dataset)
    for binary_column in dataset_binary_encoded[index]:
        encoder = BinaryEncoder(cols=[binary_column])
        dataset = encoder.fit_transform(dataset)
    datasets[index] = dataset

In [31]:
for dataset in datasets:
    print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state_0                        4250 non-null   int64
 1   state_1                        4250 non-null   int64
 2   state_2                        4250 non-null   int64
 3   state_3                        4250 non-null   int64
 4   state_4                        4250 non-null   int64
 5   state_5                        4250 non-null   int64
 6   account_length                 4250 non-null   float64
 7   area_code_1                    4250 non-null   int64
 8   area_code_2                    4250 non-null   int64
 9   area_code_3                    4250 non-null   int64
 10  international_plan_1           4250 non-null   int64
 11  international_plan_2           4250 non-null   int64
 12  voice_mail_plan_1              4250 non-null   int64
 13  voice_mail_plan_2              4250 non-null   int64
 14  number_vmail_messages          4250 non-null   float64
 15  total_day_minutes              4250 non-null   float64
 16  total_day_calls                4250 non-null   float64
 17  total_day_charge               4250 non-null   float64
 18  total_eve_minutes              4250 non-null   float64
 19  total_eve_calls                4250 non-null   float64
 20  total_eve_charge               4250 non-null   float64
 21  total_night_minutes            4250 non-null   float64
 22  total_night_calls              4250 non-null   float64
 23  total_night_charge             4250 non-null   float64
 24  total_intl_minutes             4250 non-null   float64
 25  total_intl_calls               4250 non-null   float64
 26  total_intl_charge              4250 non-null   float64
 27  number_customer_service_calls  4250 non-null   float64
 28  churn_1                        4250 non-null   int64
 29  churn_2                        4250 non-null   int64
dtypes: float64(15), int64(15)
memory usage: 996.2 KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 1869 entries, 0 to 1868
Data columns (total 93 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID_0         1869 non-null   int64
 1   CustomerID_1         1869 non-null   int64
 2   CustomerID_2         1869 non-null   int64
 3   CustomerID_3         1869 non-null   int64
 4   CustomerID_4         1869 non-null   int64
 5   CustomerID_5         1869 non-null   int64
 6   CustomerID_6         1869 non-null   int64
 7   CustomerID_7         1869 non-null   int64
 8   CustomerID_8         1869 non-null   int64
 9   CustomerID_9         1869 non-null   int64
 10  CustomerID_10        1869 non-null   int64
 11  Count                1869 non-null   float64
 12  Country_1            1869 non-null   int64
 13  State_1              1869 non-null   int64
 14  City_0               1869 non-null   int64
 15  City_1               1869 non-null   int64
 16  City_2               1869 non-null   int64
 17  City_3               1869 non-null   int64
 18  City_4               1869 non-null   int64
 19  City_5               1869 non-null   int64
 20  City_6               1869 non-null   int64
 21  City_7               1869 non-null   int64
 22  City_8               1869 non-null   int64
 23  City_9               1869 non-null   int64
 24  Zip Code             1869 non-null   float64
 25  Lat Long_0           1869 non-null   int64
 26  Lat Long_1           1869 non-null   int64
 27  Lat Long_2           1869 non-null   int64
 28  Lat Long_3           1869 non-null   int64
 29  Lat Long_4           1869 non-null   int64
 30  Lat Long_5           1869 non-null   int64
 31  Lat Long_6           1869 non-null   int64
 32  Lat Long_7           1869 non-null   int64
 33  Lat Long_8           1869 non-null   int64
 34  Lat Long_9           1869 non-null   int64
 35  Lat Long_10          1869 non-null   int64
 36  Latitude             1869 non-null   float64
 37  Longitude            1869 non-null   float64
 38  Gender_1             1869 non-null   int64
 39  Gender_2             1869 non-null   int64
 40  Senior Citizen_1     1869 non-null   int64
 41  Senior Citizen_2     1869 non-null   int64
 42  Partner_1            1869 non-null   int64
 43  Partner_2            1869 non-null   int64
 44  Dependents_1         1869 non-null   int64
 45  Dependents_2         1869 non-null   int64
 46  Tenure Months        1869 non-null   float64
 47  Phone Service_1      1869 non-null   int64
 48  Phone Service_2      1869 non-null   int64
 49  Multiple Lines_1     1869 non-null   int64
 50  Multiple Lines_2     1869 non-null   int64
 51  Multiple Lines_3     1869 non-null   int64
 52  Internet Service_1   1869 non-null   int64
 53  Internet Service_2   1869 non-null   int64
 54  Internet Service_3   1869 non-null   int64
 55  Online Security_1    1869 non-null   int64
 56  Online Security_2    1869 non-null   int64
 57  Online Security_3    1869 non-null   int64
 58  Online Backup_1      1869 non-null   int64
 59  Online Backup_2      1869 non-null   int64
 60  Online Backup_3      1869 non-null   int64
 61  Device Protection_1  1869 non-null   int64
 62  Device Protection_2  1869 non-null   int64
 63  Device Protection_3  1869 non-null   int64
 64  Tech Support_1       1869 non-null   int64
 65  Tech Support_2       1869 non-null   int64
 66  Tech Support_3       1869 non-null   int64
 67  Streaming TV_1       1869 non-null   int64
 68  Streaming TV_2       1869 non-null   int64
 69  Streaming TV_3       1869 non-null   int64
 70  Streaming Movies_1   1869 non-null   int64
 71  Streaming Movies_2   1869 non-null   int64
 72  Streaming Movies_3   1869 non-null   int64
 73  Contract_1           1869 non-null   int64
 74  Contract_2           1869 non-null   int64
 75  Contract_3           1869 non-null   int64
 76  Paperless Billing_1  1869 non-null   int64
 77  Paperless Billing_2  1869 non-null   int64
 78  Payment Method_1     1869 non-null   int64
 79  Payment Method_2     1869 non-null   int64
 80  Payment Method_3     1869 non-null   int64
 81  Payment Method_4     1869 non-null   int64
 82  Monthly Charges      1869 non-null   float64
 83  Total Charges        1869 non-null   float64
 84  Churn Label_1        1869 non-null   int64
 85  Churn Value          1869 non-null   float64
 86  Churn Score          1869 non-null   float64
 87  CLTV                 1869 non-null   float64
 88  Churn Reason_0       1869 non-null   int64
 89  Churn Reason_1       1869 non-null   int64
 90  Churn Reason_2       1869 non-null   int64
 91  Churn Reason_3       1869 non-null   int64
 92  Churn Reason_4       1869 non-null   int64
dtypes: float64(10), int64(83)
memory usage: 1.3 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Churn            3333 non-null   float64
 1   AccountWeeks     3333 non-null   float64
 2   ContractRenewal  3333 non-null   float64
 3   DataPlan         3333 non-null   float64
 4   DataUsage        3333 non-null   float64
 5   CustServCalls    3333 non-null   float64
 6   DayMins          3333 non-null   float64
 7   DayCalls         3333 non-null   float64
 8   MonthlyCharge    3333 non-null   float64
 9   OverageFee       3333 non-null   float64
 10  RoamMins         3333 non-null   float64
dtypes: float64(11)
memory usage: 286.6 KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 60 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerID_0        7032 non-null   int64
 1   customerID_1        7032 non-null   int64
 2   customerID_2        7032 non-null   int64
 3   customerID_3        7032 non-null   int64
 4   customerID_4        7032 non-null   int64
 5   customerID_5        7032 non-null   int64
 6   customerID_6        7032 non-null   int64
 7   customerID_7        7032 non-null   int64
 8   customerID_8        7032 non-null   int64
 9   customerID_9        7032 non-null   int64
 10  customerID_10       7032 non-null   int64
 11  customerID_11       7032 non-null   int64
 12  customerID_12       7032 non-null   int64
 13  gender_1            7032 non-null   int64
 14  gender_2            7032 non-null   int64
 15  SeniorCitizen       7032 non-null   float64
 16  Partner_1           7032 non-null   int64
 17  Partner_2           7032 non-null   int64
 18  Dependents_1        7032 non-null   int64
 19  Dependents_2        7032 non-null   int64
 20  tenure              7032 non-null   float64
 21  PhoneService_1      7032 non-null   int64
 22  PhoneService_2      7032 non-null   int64
 23  MultipleLines_1     7032 non-null   int64
 24  MultipleLines_2     7032 non-null   int64
 25  MultipleLines_3     7032 non-null   int64
 26  InternetService_1   7032 non-null   int64
 27  InternetService_2   7032 non-null   int64
 28  InternetService_3   7032 non-null   int64
 29  OnlineSecurity_1    7032 non-null   int64
 30  OnlineSecurity_2    7032 non-null   int64
 31  OnlineSecurity_3    7032 non-null   int64
 32  OnlineBackup_1      7032 non-null   int64
 33  OnlineBackup_2      7032 non-null   int64
 34  OnlineBackup_3      7032 non-null   int64
 35  DeviceProtection_1  7032 non-null   int64
 36  DeviceProtection_2  7032 non-null   int64
 37  DeviceProtection_3  7032 non-null   int64
 38  TechSupport_1       7032 non-null   int64
 39  TechSupport_2       7032 non-null   int64
 40  TechSupport_3       7032 non-null   int64
 41  StreamingTV_1       7032 non-null   int64
 42  StreamingTV_2       7032 non-null   int64
 43  StreamingTV_3       7032 non-null   int64
 44  StreamingMovies_1   7032 non-null   int64
 45  StreamingMovies_2   7032 non-null   int64
 46  StreamingMovies_3   7032 non-null   int64
 47  Contract_1          7032 non-null   int64
 48  Contract_2          7032 non-null   int64
 49  Contract_3          7032 non-null   int64
 50  PaperlessBilling_1  7032 non-null   int64
 51  PaperlessBilling_2  7032 non-null   int64
 52  PaymentMethod_1     7032 non-null   int64
 53  PaymentMethod_2     7032 non-null   int64
 54  PaymentMethod_3     7032 non-null   int64
 55  PaymentMethod_4     7032 non-null   int64
 56  MonthlyCharges      7032 non-null   float64
 57  TotalCharges        7032 non-null   float64
 58  Churn_1             7032 non-null   int64
 59  Churn_2             7032 non-null   int64
dtypes: float64(4), int64(56)
memory usage: 3.3 MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 505206 entries, 0 to 505206
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Age                  505206 non-null  float64
 1   Gender_1             505206 non-null  int64
 2   Gender_2             505206 non-null  int64
 3   Tenure               505206 non-null  float64
 4   Usage Frequency      505206 non-null  float64
 5   Support Calls        505206 non-null  float64
 6   Payment Delay        505206 non-null  float64
 7   Subscription Type_1  505206 non-null  int64
 8   Subscription Type_2  505206 non-null  int64
 9   Subscription Type_3  505206 non-null  int64
 10  Contract Length_1    505206 non-null  int64
 11  Contract Length_2    505206 non-null  int64
 12  Contract Length_3    505206 non-null  int64
 13  Total Spend          505206 non-null  float64
 14  Last Interaction     505206 non-null  float64
 15  Churn                505206 non-null  float64
dtypes: float64(8), int64(8)
memory usage: 65.5 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  float64
 1   CustomerId       10000 non-null  float64
 2   Surname_0        10000 non-null  int64
 3   Surname_1        10000 non-null  int64
 4   Surname_2        10000 non-null  int64
 5   Surname_3        10000 non-null  int64
 6   Surname_4        10000 non-null  int64
 7   Surname_5        10000 non-null  int64
 8   Surname_6        10000 non-null  int64
 9   Surname_7        10000 non-null  int64
 10  Surname_8        10000 non-null  int64
 11  Surname_9        10000 non-null  int64
 12  Surname_10       10000 non-null  int64
 13  Surname_11       10000 non-null  int64
 14  CreditScore      10000 non-null  float64
 15  Geography_1      10000 non-null  int64
 16  Geography_2      10000 non-null  int64
 17  Geography_3      10000 non-null  int64
 18  Gender_1         10000 non-null  int64
 19  Gender_2         10000 non-null  int64
 20  Age              10000 non-null  float64
 21  Tenure           10000 non-null  float64
 22  Balance          10000 non-null  float64
 23  NumOfProducts    10000 non-null  float64
 24  HasCrCard        10000 non-null  float64
 25  IsActiveMember   10000 non-null  float64
 26  EstimatedSalary  10000 non-null  float64
 27  Exited           10000 non-null  float64
dtypes: float64(11), int64(17)
memory usage: 2.1 MB
None

In [33]:
from sklearn.ensemble import RandomForestClassifier

# Assuming 'X' is the input features and 'y' is the target variable
X = datasets[0].drop(['churn_1','churn_2'], axis=1)
y = datasets[0][['churn_1', 'churn_2']]

# Create a Random Forest classifier
rf = RandomForestClassifier()

# Fit the classifier to the data
rf.fit(X, y)

# Get feature importances
feature_importances = rf.feature_importances_

# Create a dictionary of feature importance scores
feature_importance_dict = dict(zip(X.columns, feature_importances))

# Sort the features by importance in descending order
sorted_features = sorted(feature_importance_dict.items(), key=lambda x: x[1], reverse=True)

# Set the number of most impactful features to keep
n = 5

# Get the n most impactful features
most_impactful_features = [feature for feature, importance in sorted_features[:n]]

# Print the most impactful features
print("Most impactful features:")
for feature in most_impactful_features:
    print(feature)

KeyError: ('churn_1', 'churn_2')

In [19]:
# ### Turn binary categorical variables into 0 and 1
# pd.set_option('future.no_silent_downcasting', True)
# for dataset in datasets:
#     for column in dataset.columns:
#         if (dataset[column].nunique() == 2) and (dataset[column].dtype == 'object'):
            
#             dataset[column]=dataset[column].replace({'Yes': 'yes', 'No': 'no'})
#             dataset[column]=dataset[column].replace({'yes': 1, 'no': 0})

In [20]:
datasets[0].head()

,state_0,state_1,state_2,state_3,state_4,state_5,account_length,area_code_1,area_code_2,area_code_3,...,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn_1,churn_2
0,0,0,0,0,0,1,107,1,0,0,...,16.62,254.4,103,11.45,13.7,3,3.70,1,1,0
1,0,0,0,0,1,0,137,1,0,0,...,10.30,162.6,104,7.32,12.2,5,3.29,0,1,0
2,0,0,0,0,0,1,84,0,1,0,...,5.26,196.9,89,8.86,6.6,7,1.78,2,1,0
3,0,0,0,0,1,1,75,1,0,0,...,12.61,186.9,121,8.41,10.1,3,2.73,3,1,0
4,0,0,0,1,0,0,121,0,0,1,...,29.62,212.6,118,9.57,7.5,7,2.03,3,1,0

In [21]:
dataset0=datasets[0]

In [22]:
dataset0.nunique()

state_0                             2
state_1                             2
state_2                             2
state_3                             2
state_4                             2
state_5                             2
account_length                    215
area_code_1                         2
area_code_2                         2
area_code_3                         2
international_plan_1                2
international_plan_2                2
voice_mail_plan_1                   2
voice_mail_plan_2                   2
number_vmail_messages              46
total_day_minutes                1843
total_day_calls                   120
total_day_charge                 1843
total_eve_minutes                1773
total_eve_calls                   123
total_eve_charge                 1572
total_night_minutes              1757
total_night_calls                 128
total_night_charge                992
total_intl_minutes                168
total_intl_calls                   21
total_intl_charge                 168
number_customer_service_calls      10
churn_1                             2
churn_2                             2
dtype: int64

In [23]:
encoder = ce.BinaryEncoder(cols=['state'])
df_binary = encoder.fit_transform(dataset0)

ValueError: X does not contain the columns listed in cols

In [ ]:
df_binary.head()

,state_0,state_1,state_2,state_3,state_4,state_5,account_length,area_code,international_plan,voice_mail_plan,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,0,0,0,0,0,1,107,area_code_415,0,1,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
1,0,0,0,0,1,0,137,area_code_415,0,0,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
2,0,0,0,0,0,1,84,area_code_408,1,0,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
3,0,0,0,0,1,1,75,area_code_415,1,0,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
4,0,0,0,1,0,0,121,area_code_510,0,1,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0