In [77]:
#### NOTE TO SELF: This script is not complete. It is a work in progress. ####
### TO DO: handle imbalanced datasets
### TO DO: handle feature extraction
### TO DO: handle training and testing
### TO DO: handle model evaluation


import pandas as pd
import numpy as np
from glob import glob
import category_encoders as ce
from pandas import DataFrame

pd.set_option('future.no_silent_downcasting', True)
# Get the file paths for all CSV files in the current folder
file_paths = glob('*.csv')

## Read all CSV files into a list of DataFrames
datasets: list[DataFrame] = []
for file_path in file_paths:
    datasets.append(pd.read_csv(file_path))

In [78]:
### categorical features with more than 7 unique values will be encode with binary encoding
dataset_one_hot_encoded : list[list[str]] = [[] for i in range(len(datasets))]
dataset_binary_encoded: list[list[str]]   = [[] for i in range(len(datasets))]

In [79]:
## delete na values in dataset

for (index, dataset) in enumerate(datasets):
    dataset=dataset.replace({' ': np.nan})
    dataset=dataset.replace({'': np.nan})
    dataset=dataset.dropna()
    datasets[index] = dataset

In [80]:
datasets[0]

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
4,MA,121,area_code_510,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,MT,83,area_code_415,no,no,0,188.3,70,32.01,243.8,88,20.72,213.7,79,9.62,10.3,6,2.78,0,no
4246,WV,73,area_code_408,no,no,0,177.9,89,30.24,131.2,82,11.15,186.2,89,8.38,11.5,6,3.11,3,no
4247,NC,75,area_code_408,no,no,0,170.7,101,29.02,193.1,126,16.41,129.1,104,5.81,6.9,7,1.86,1,no
4248,HI,50,area_code_408,no,yes,40,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,9.9,5,2.67,2,no
4249,VT,86,area_code_415,no,yes,34,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,9.3,16,2.51,0,no

In [81]:
from category_encoders import OrdinalEncoder

columns=[col for col in datasets[0].columns if datasets[0][col].dtype == 'object']
oe= OrdinalEncoder(cols=columns)
df=oe.fit_transform(datasets[0])

In [82]:
df

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,1,107,1,1,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,1
1,2,137,1,1,2,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,1
2,1,84,2,2,2,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,1
3,3,75,1,2,2,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,1
4,4,121,3,1,1,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,11,83,1,1,2,0,188.3,70,32.01,243.8,88,20.72,213.7,79,9.62,10.3,6,2.78,0,1
4246,7,73,2,1,2,0,177.9,89,30.24,131.2,82,11.15,186.2,89,8.38,11.5,6,3.11,3,1
4247,34,75,2,1,2,0,170.7,101,29.02,193.1,126,16.41,129.1,104,5.81,6.9,7,1.86,1,1
4248,21,50,2,1,1,40,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,9.9,5,2.67,2,1
4249,40,86,1,1,1,34,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,9.3,16,2.51,0,1

In [83]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=100, random_state=0)
X = df.drop('churn', axis=1)
y= df['churn']
clf.fit(X,y)

RandomForestClassifier(random_state=0)

In [84]:
feature_importance_dict = dict(zip(clf.feature_importances_, columns))
sorted_features = sorted(feature_importance_dict.items(), key=lambda x: x[0], reverse=True)

for feature, importance in sorted_features:
    print(f"Feature: {feature}, Importance: {importance}")

Feature: 0.07852491497035138, Importance: voice_mail_plan
Feature: 0.0283995913871146, Importance: area_code
Feature: 0.025067208564923546, Importance: state
Feature: 0.02050715564815304, Importance: churn
Feature: 0.0069907172759566824, Importance: international_plan

In [85]:
clf.feature_importances_

array([0.02506721, 0.02839959, 0.00699072, 0.07852491, 0.02050716,
       0.03172999, 0.1427818 , 0.02614187, 0.14561708, 0.062367  ,
       0.02359343, 0.06051431, 0.03918253, 0.02671799, 0.03759366,
       0.03907868, 0.049046  , 0.0406852 , 0.11546087])

In [86]:
## check some information about the dataset
## check if there is any null value and replace it with np.nan
## drop the examples with na values
## check the unique counts of each feature in each dataset and decide if it should be one hot encoded or binary encoded

for (index,dataset) in enumerate(datasets):
    ### replace ' ' with np.nan and drop examples with na values
    dataset=dataset.replace({' ': np.nan})
    dataset=dataset.replace({'': np.nan})
    dataset=dataset.dropna()
    
    
    print("The unique counts of each feature in this dataset are:")
    print("\n")    
    for column in dataset.columns:
        ### print information about the column
        print(column, dataset[column].dtype, dataset[column].nunique())
    
        ### check if the column is categorical and if it has more than 7 unique values pass it to binary encoding, else to one hot encoding    
        if dataset[column].dtype=='object':
             ### cast the column to float if possible ( columns with ' ' has dtype object but now the na are removed we can cast it back to float)
            try:
                dataset[column] = dataset[column].astype(float)
            except:
                pass
          
            if dataset[column].nunique() > 7:
                    dataset_binary_encoded[index].append(column)
            else:
                    dataset_one_hot_encoded[index].append(column)
    print("\n\n")
    
    datasets[index] = dataset

The unique counts of each feature in this dataset are:


state object 51
account_length int64 215
area_code object 3
international_plan object 2
voice_mail_plan object 2
number_vmail_messages int64 46
total_day_minutes float64 1843
total_day_calls int64 120
total_day_charge float64 1843
total_eve_minutes float64 1773
total_eve_calls int64 123
total_eve_charge float64 1572
total_night_minutes float64 1757
total_night_calls int64 128
total_night_charge float64 992
total_intl_minutes float64 168
total_intl_calls int64 21
total_intl_charge float64 168
number_customer_service_calls int64 10
churn object 2



The unique counts of each feature in this dataset are:


CustomerID object 1869
Count int64 1
Country object 1
State object 1
City object 833
Zip Code int64 1190
Lat Long object 1190
Latitude float64 1190
Longitude float64 1190
Gender object 2
Senior Citizen object 2
Partner object 2
Dependents object 2
Tenure Months int64 72
Phone Service object 2
Multiple Lines object 3
Internet Service object 3
Online Security object 3
Online Backup object 3
Device Protection object 3
Tech Support object 3
Streaming TV object 3
Streaming Movies object 3
Contract object 3
Paperless Billing object 2
Payment Method object 4
Monthly Charges float64 910
Total Charges object 1732
Churn Label object 1
Churn Value int64 1
Churn Score int64 36
CLTV int64 1487
Churn Reason object 20



The unique counts of each feature in this dataset are:


Churn int64 2
AccountWeeks int64 212
ContractRenewal int64 2
DataPlan int64 2
DataUsage float64 174
CustServCalls int64 10
DayMins float64 1667
DayCalls int64 119
MonthlyCharge float64 627
OverageFee float64 1024
RoamMins float64 162



The unique counts of each feature in this dataset are:


customerID object 7032
gender object 2
SeniorCitizen int64 2
Partner object 2
Dependents object 2
tenure int64 72
PhoneService object 2
MultipleLines object 3
InternetService object 3
OnlineSecurity object 3
OnlineBackup object 3
DeviceProtection object 3
TechSupport object 3
StreamingTV object 3
StreamingMovies object 3
Contract object 3
PaperlessBilling object 2
PaymentMethod object 4
MonthlyCharges float64 1584
TotalCharges object 6530
Churn object 2



The unique counts of each feature in this dataset are:


RowNumber int64 10000
CustomerId int64 10000
Surname object 2932
CreditScore int64 460
Geography object 3
Gender object 2
Age int64 70
Tenure int64 11
Balance float64 6382
NumOfProducts int64 4
HasCrCard int64 2
IsActiveMember int64 2
EstimatedSalary float64 9999
Exited int64 2

In [87]:
#check the dataset again
for dataset in datasets:
    print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          4250 non-null   object
 1   account_length                 4250 non-null   int64
 2   area_code                      4250 non-null   object
 3   international_plan             4250 non-null   object
 4   voice_mail_plan                4250 non-null   object
 5   number_vmail_messages          4250 non-null   int64
 6   total_day_minutes              4250 non-null   float64
 7   total_day_calls                4250 non-null   int64
 8   total_day_charge               4250 non-null   float64
 9   total_eve_minutes              4250 non-null   float64
 10  total_eve_calls                4250 non-null   int64
 11  total_eve_charge               4250 non-null   float64
 12  total_night_minutes            4250 non-null   float64
 13  total_night_calls              4250 non-null   int64
 14  total_night_charge             4250 non-null   float64
 15  total_intl_minutes             4250 non-null   float64
 16  total_intl_calls               4250 non-null   int64
 17  total_intl_charge              4250 non-null   float64
 18  number_customer_service_calls  4250 non-null   int64
 19  churn                          4250 non-null   object
dtypes: float64(8), int64(7), object(5)
memory usage: 664.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 1869 entries, 0 to 1868
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         1869 non-null   object
 1   Count              1869 non-null   int64
 2   Country            1869 non-null   object
 3   State              1869 non-null   object
 4   City               1869 non-null   object
 5   Zip Code           1869 non-null   int64
 6   Lat Long           1869 non-null   object
 7   Latitude           1869 non-null   float64
 8   Longitude          1869 non-null   float64
 9   Gender             1869 non-null   object
 10  Senior Citizen     1869 non-null   object
 11  Partner            1869 non-null   object
 12  Dependents         1869 non-null   object
 13  Tenure Months      1869 non-null   int64
 14  Phone Service      1869 non-null   object
 15  Multiple Lines     1869 non-null   object
 16  Internet Service   1869 non-null   object
 17  Online Security    1869 non-null   object
 18  Online Backup      1869 non-null   object
 19  Device Protection  1869 non-null   object
 20  Tech Support       1869 non-null   object
 21  Streaming TV       1869 non-null   object
 22  Streaming Movies   1869 non-null   object
 23  Contract           1869 non-null   object
 24  Paperless Billing  1869 non-null   object
 25  Payment Method     1869 non-null   object
 26  Monthly Charges    1869 non-null   float64
 27  Total Charges      1869 non-null   float64
 28  Churn Label        1869 non-null   object
 29  Churn Value        1869 non-null   int64
 30  Churn Score        1869 non-null   int64
 31  CLTV               1869 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(4), int64(6), object(23)
memory usage: 496.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Churn            3333 non-null   int64
 1   AccountWeeks     3333 non-null   int64
 2   ContractRenewal  3333 non-null   int64
 3   DataPlan         3333 non-null   int64
 4   DataUsage        3333 non-null   float64
 5   CustServCalls    3333 non-null   int64
 6   DayMins          3333 non-null   float64
 7   DayCalls         3333 non-null   int64
 8   MonthlyCharge    3333 non-null   float64
 9   OverageFee       3333 non-null   float64
 10  RoamMins         3333 non-null   float64
dtypes: float64(5), int64(6)
memory usage: 286.6 KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB
None

In [88]:
### Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
for (index,dataset) in enumerate(datasets):
    for column in dataset.columns:
        if column not in ['Churn', 'Exited']:
            if dataset[column].dtype in ['float64','int64']:
                dataset[column] = scaler.fit_transform(dataset[[column]])
    datasets[index] = dataset

In [89]:
from category_encoders import OneHotEncoder, BinaryEncoder

for (index, dataset) in enumerate(datasets):
    for one_hot_column in dataset_one_hot_encoded[index]:
        encoder = OneHotEncoder(cols=[one_hot_column])
        dataset = encoder.fit_transform(dataset)
    for binary_column in dataset_binary_encoded[index]:
        encoder = BinaryEncoder(cols=[binary_column])
        dataset = encoder.fit_transform(dataset)
    datasets[index] = dataset

In [90]:
dataset_one_hot_encoded

[['area_code', 'international_plan', 'voice_mail_plan', 'churn'],
 ['Country',
  'State',
  'Gender',
  'Senior Citizen',
  'Partner',
  'Dependents',
  'Phone Service',
  'Multiple Lines',
  'Internet Service',
  'Online Security',
  'Online Backup',
  'Device Protection',
  'Tech Support',
  'Streaming TV',
  'Streaming Movies',
  'Contract',
  'Paperless Billing',
  'Payment Method',
  'Churn Label'],
 [],
 ['gender',
  'Partner',
  'Dependents',
  'PhoneService',
  'MultipleLines',
  'InternetService',
  'OnlineSecurity',
  'OnlineBackup',
  'DeviceProtection',
  'TechSupport',
  'StreamingTV',
  'StreamingMovies',
  'Contract',
  'PaperlessBilling',
  'PaymentMethod',
  'Churn'],
 ['Geography', 'Gender']]

In [91]:
for dataset in datasets:
    print(dataset.info())
    print("\n\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state_0                        4250 non-null   int64
 1   state_1                        4250 non-null   int64
 2   state_2                        4250 non-null   int64
 3   state_3                        4250 non-null   int64
 4   state_4                        4250 non-null   int64
 5   state_5                        4250 non-null   int64
 6   account_length                 4250 non-null   float64
 7   area_code_1                    4250 non-null   int64
 8   area_code_2                    4250 non-null   int64
 9   area_code_3                    4250 non-null   int64
 10  international_plan_1           4250 non-null   int64
 11  international_plan_2           4250 non-null   int64
 12  voice_mail_plan_1              4250 non-null   int64
 13  voice_mail_plan_2              4250 non-null   int64
 14  number_vmail_messages          4250 non-null   float64
 15  total_day_minutes              4250 non-null   float64
 16  total_day_calls                4250 non-null   float64
 17  total_day_charge               4250 non-null   float64
 18  total_eve_minutes              4250 non-null   float64
 19  total_eve_calls                4250 non-null   float64
 20  total_eve_charge               4250 non-null   float64
 21  total_night_minutes            4250 non-null   float64
 22  total_night_calls              4250 non-null   float64
 23  total_night_charge             4250 non-null   float64
 24  total_intl_minutes             4250 non-null   float64
 25  total_intl_calls               4250 non-null   float64
 26  total_intl_charge              4250 non-null   float64
 27  number_customer_service_calls  4250 non-null   float64
 28  churn_1                        4250 non-null   int64
 29  churn_2                        4250 non-null   int64
dtypes: float64(15), int64(15)
memory usage: 996.2 KB
None



<class 'pandas.core.frame.DataFrame'>
Index: 1869 entries, 0 to 1868
Columns: 103 entries, CustomerID_0 to Churn Reason_4
dtypes: float64(9), int64(94)
memory usage: 1.5 MB
None



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Churn            3333 non-null   int64
 1   AccountWeeks     3333 non-null   float64
 2   ContractRenewal  3333 non-null   float64
 3   DataPlan         3333 non-null   float64
 4   DataUsage        3333 non-null   float64
 5   CustServCalls    3333 non-null   float64
 6   DayMins          3333 non-null   float64
 7   DayCalls         3333 non-null   float64
 8   MonthlyCharge    3333 non-null   float64
 9   OverageFee       3333 non-null   float64
 10  RoamMins         3333 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 286.6 KB
None



<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 72 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerID_0        7032 non-null   int64
 1   customerID_1        7032 non-null   int64
 2   customerID_2        7032 non-null   int64
 3   customerID_3        7032 non-null   int64
 4   customerID_4        7032 non-null   int64
 5   customerID_5        7032 non-null   int64
 6   customerID_6        7032 non-null   int64
 7   customerID_7        7032 non-null   int64
 8   customerID_8        7032 non-null   int64
 9   customerID_9        7032 non-null   int64
 10  customerID_10       7032 non-null   int64
 11  customerID_11       7032 non-null   int64
 12  customerID_12       7032 non-null   int64
 13  gender_1            7032 non-null   int64
 14  gender_2            7032 non-null   int64
 15  SeniorCitizen       7032 non-null   float64
 16  Partner_1           7032 non-null   int64
 17  Partner_2           7032 non-null   int64
 18  Dependents_1        7032 non-null   int64
 19  Dependents_2        7032 non-null   int64
 20  tenure              7032 non-null   float64
 21  PhoneService_1      7032 non-null   int64
 22  PhoneService_2      7032 non-null   int64
 23  MultipleLines_1     7032 non-null   int64
 24  MultipleLines_2     7032 non-null   int64
 25  MultipleLines_3     7032 non-null   int64
 26  InternetService_1   7032 non-null   int64
 27  InternetService_2   7032 non-null   int64
 28  InternetService_3   7032 non-null   int64
 29  OnlineSecurity_1    7032 non-null   int64
 30  OnlineSecurity_2    7032 non-null   int64
 31  OnlineSecurity_3    7032 non-null   int64
 32  OnlineBackup_1      7032 non-null   int64
 33  OnlineBackup_2      7032 non-null   int64
 34  OnlineBackup_3      7032 non-null   int64
 35  DeviceProtection_1  7032 non-null   int64
 36  DeviceProtection_2  7032 non-null   int64
 37  DeviceProtection_3  7032 non-null   int64
 38  TechSupport_1       7032 non-null   int64
 39  TechSupport_2       7032 non-null   int64
 40  TechSupport_3       7032 non-null   int64
 41  StreamingTV_1       7032 non-null   int64
 42  StreamingTV_2       7032 non-null   int64
 43  StreamingTV_3       7032 non-null   int64
 44  StreamingMovies_1   7032 non-null   int64
 45  StreamingMovies_2   7032 non-null   int64
 46  StreamingMovies_3   7032 non-null   int64
 47  Contract_1          7032 non-null   int64
 48  Contract_2          7032 non-null   int64
 49  Contract_3          7032 non-null   int64
 50  PaperlessBilling_1  7032 non-null   int64
 51  PaperlessBilling_2  7032 non-null   int64
 52  PaymentMethod_1     7032 non-null   int64
 53  PaymentMethod_2     7032 non-null   int64
 54  PaymentMethod_3     7032 non-null   int64
 55  PaymentMethod_4     7032 non-null   int64
 56  MonthlyCharges      7032 non-null   float64
 57  TotalCharges_0      7032 non-null   int64
 58  TotalCharges_1      7032 non-null   int64
 59  TotalCharges_2      7032 non-null   int64
 60  TotalCharges_3      7032 non-null   int64
 61  TotalCharges_4      7032 non-null   int64
 62  TotalCharges_5      7032 non-null   int64
 63  TotalCharges_6      7032 non-null   int64
 64  TotalCharges_7      7032 non-null   int64
 65  TotalCharges_8      7032 non-null   int64
 66  TotalCharges_9      7032 non-null   int64
 67  TotalCharges_10     7032 non-null   int64
 68  TotalCharges_11     7032 non-null   int64
 69  TotalCharges_12     7032 non-null   int64
 70  Churn_1             7032 non-null   int64
 71  Churn_2             7032 non-null   int64
dtypes: float64(3), int64(69)
memory usage: 3.9 MB
None



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  float64
 1   CustomerId       10000 non-null  float64
 2   Surname_0        10000 non-null  int64
 3   Surname_1        10000 non-null  int64
 4   Surname_2        10000 non-null  int64
 5   Surname_3        10000 non-null  int64
 6   Surname_4        10000 non-null  int64
 7   Surname_5        10000 non-null  int64
 8   Surname_6        10000 non-null  int64
 9   Surname_7        10000 non-null  int64
 10  Surname_8        10000 non-null  int64
 11  Surname_9        10000 non-null  int64
 12  Surname_10       10000 non-null  int64
 13  Surname_11       10000 non-null  int64
 14  CreditScore      10000 non-null  float64
 15  Geography_1      10000 non-null  int64
 16  Geography_2      10000 non-null  int64
 17  Geography_3      10000 non-null  int64
 18  Gender_1         10000 non-null  int64
 19  Gender_2         10000 non-null  int64
 20  Age              10000 non-null  float64
 21  Tenure           10000 non-null  float64
 22  Balance          10000 non-null  float64
 23  NumOfProducts    10000 non-null  float64
 24  HasCrCard        10000 non-null  float64
 25  IsActiveMember   10000 non-null  float64
 26  EstimatedSalary  10000 non-null  float64
 27  Exited           10000 non-null  int64
dtypes: float64(10), int64(18)
memory usage: 2.1 MB
None

In [92]:
datasets[0]

,state_0,state_1,state_2,state_3,state_4,state_5,account_length,area_code_1,area_code_2,area_code_3,...,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn_1,churn_2
0,0,0,0,0,0,1,0.170399,1,0,0,...,-0.092493,1.070003,0.157309,1.070820,1.247901,-0.579164,1.248591,-0.426346,1,0
1,0,0,0,0,1,0,0.926186,1,0,0,...,-1.572341,-0.753320,0.207083,-0.752053,0.704379,0.232927,0.698342,-1.188960,1,0
2,0,0,0,0,0,1,-0.409038,0,1,0,...,-2.752473,-0.072057,-0.539526,-0.072337,-1.324770,1.045017,-1.328187,0.336268,1,0
3,0,0,0,0,1,1,-0.635774,1,0,0,...,-1.031447,-0.270676,1.053239,-0.270956,-0.056552,-0.579164,-0.053219,1.098882,1,0
4,0,0,0,1,0,0,0.523099,0,0,1,...,2.951497,0.239775,0.903917,0.241038,-0.998657,1.045017,-0.992669,1.098882,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,0,0,1,0,1,1,-0.434231,1,0,0,...,0.867535,0.261623,-1.037264,0.263106,0.015918,0.638972,0.013885,-1.188960,1,0
4246,0,0,0,1,1,1,-0.686160,0,1,0,...,-1.373311,-0.284579,-0.539526,-0.284197,0.450735,0.638972,0.456769,1.098882,1,0
4247,1,0,0,0,1,0,-0.635774,0,1,0,...,-0.141665,-1.418694,0.207083,-1.418526,-1.216066,1.045017,-1.220821,-0.426346,1,0
4248,0,1,0,1,0,1,-1.265596,0,1,0,...,0.455425,1.926052,0.804369,1.927084,-0.129022,0.232927,-0.133743,0.336268,1,0
4249,1,0,1,0,0,0,-0.358652,1,0,0,...,1.331158,-0.908243,0.007987,-0.906533,-0.346430,4.699425,-0.348475,-1.188960,1,0

In [93]:
## split feautures and labels for each dataset
X_data: list[DataFrame] = []
y_data: list[DataFrame] = []
label_column : list[list[str]] = [
    ['churn_1','churn_2'],
    ['Churn Value'],
    ['Churn'],
    ['Churn_1','Churn_2'],
    ['Exited'],
 
 ]

for (index, dataset) in enumerate(datasets):
    X_data.append(dataset.drop(columns=label_column[index]))
    y_data.append(dataset[label_column[index]])

In [94]:
### Split train and test data

from sklearn.model_selection import train_test_split

X_train: list[DataFrame] = []
y_train: list[DataFrame] = []
X_test: list[DataFrame] = []
y_test: list[DataFrame] = []

for (X,y) in zip(X_data,y_data):
    X_train_temp, X_test_temp, y_train_temp, y_test_temp = train_test_split(X, y, test_size=0.2, random_state=42)
    
    X_train.append(X_train_temp)
    y_train.append(y_train_temp)
    X_test.append(X_test_temp)
    y_test.append(y_test_temp)

In [95]:
##### DATASET SPECIFIC PREPROCESSING HERE #####
##### DATASET SPECIFIC PREPROCESSING HERE #####
##### DATASET SPECIFIC PREPROCESSING HERE #####
##### DATASET SPECIFIC PREPROCESSING HERE #####
##### DATASET SPECIFIC PREPROCESSING HERE #####

In [96]:
### PREPROCESSING FINISHED ###

In [97]:

### SOME RANDOM BS BECAUSE BUGS, IDEK :SKULLS: ###
ce2=ce.OneHotEncoder(cols=['Exited'])
y_train[4]=ce2.fit_transform(y_train[4])
ce1=ce.OneHotEncoder(cols=['Churn'])
y_train[2]=ce1.fit_transform(y_train[2])

In [98]:
#Calculate the most impactful features

from sklearn.ensemble import RandomForestClassifier
i=0
for (X,y) in zip(X_train,y_train):
    rf = RandomForestClassifier()

    # Fit the classifier to the data
    rf.fit(X, y)

    # Get feature importances
    feature_importances = rf.feature_importances_

    # Create a dictionary of feature importance scores
    feature_importance_dict = dict(zip(X.columns, feature_importances))

    # Sort the features by importance in descending order
    sorted_features = sorted(feature_importance_dict.items(), key=lambda x: x[1], reverse=True)

    # Set the number of most impactful features to keep
    n = 5

    # Get the n most impactful features
    most_impactful_features = [feature for feature, importance in sorted_features[:n]]

    # Print the most impactful features
    print("Most impactful features:")
    for feature in most_impactful_features:
        print(feature)

Most impactful features:
total_day_charge
total_day_minutes
number_customer_service_calls
total_eve_charge
total_intl_calls
Most impactful features:
CustomerID_0
CustomerID_1
CustomerID_2
CustomerID_3
CustomerID_4

c:\Users\hung\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Most impactful features:
DayMins
MonthlyCharge
CustServCalls
OverageFee
RoamMins
Most impactful features:
tenure
MonthlyCharges
Contract_1
OnlineSecurity_1
TechSupport_1
Most impactful features:
Age
NumOfProducts
Balance
CreditScore
EstimatedSalary

In [99]:
### USE PCA TO REDUCE DIMENSIONALITY

from sklearn.decomposition import PCA

pca = PCA(n_components=5)

X_train_pca: list[DataFrame] = []
X_test_pca: list[DataFrame] = []

for (X_train_temp, X_test_temp) in zip(X_train, X_test):
    X_train_pca.append(pca.fit_transform(X_train_temp))
    X_test_pca.append(pca.transform(X_test_temp))

In [100]:
### PROPOSE SOME MODEL AND USE THEM TO THEN ON ALL THE DATASETS

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score

models = [RandomForestClassifier(), GradientBoostingClassifier(), LogisticRegression(), SVC(), KNeighborsClassifier()]


# Train the model here

In [101]:
### Calculate F1 score, confusion matrix, AUROC, AUPRC, and accuracy for each model
from sklearn.metrics import f1_score, confusion_matrix, roc_auc_score, average_precision_score